* {
    margin: 40px;
}

h1{
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    margin: 20px;
}

h2{
    background-color: black;
    color: green;
    text-align: left;
    margin: 20px;
}

h3{
    background-color: red;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}

h4{
    color: teal;
    text-align: left;
    text-decoration: line-through;
    margin: 20px;
}